---
import './_circular.css';
---
<html lang="en-us">
  <head>
    <title>Circular text with CSS</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
    <meta name="theme-color" content="#CC0088" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" href="/icons/favicon-32x32.png" type="image/png" sizes="16x16"/>
    <link rel="shortcut icon" href="/icons/favicon-32x32.png" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
  </head>
  <body>
    <section>
      <h1 class="text-ring"></h1>
    </section>
  </body>
</html>
<script>
  import "./_script.js"
</script>