@import url("../../node_modules/open-props/colors.min.css");
@import url("../../node_modules/open-props/gradients.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1240,20,1.333,9,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|6|6,&g=s,l,xl,12 */
    --step--2: clamp(0.69rem, calc(0.66rem + 0.18vw), 0.80rem);
    --step--1: clamp(0.83rem, calc(0.78rem + 0.29vw), 1.00rem);
    --step-0: clamp(1.00rem, calc(0.91rem + 0.43vw), 1.25rem);
    --step-1: clamp(1.20rem, calc(1.07rem + 0.63vw), 1.56rem);
    --step-2: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem);
    --step-3: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
    --step-4: clamp(2.07rem, calc(1.73rem + 1.70vw), 3.05rem);
    --step-5: clamp(2.49rem, calc(2.03rem + 2.31vw), 3.82rem);
    --step-6: clamp(2.99rem, calc(2.37rem + 3.10vw), 4.77rem);
    --step-7: clamp(3.58rem, calc(2.76rem + 4.13vw), 5.96rem);
    --step-8: clamp(4.30rem, calc(3.20rem + 5.48vw), 7.45rem);
    --step-9: clamp(5.16rem, calc(3.72rem + 7.22vw), 9.31rem);

    /* @link https://utopia.fyi/space/calculator?c=320,16,1.125,1240,20,1.333,9,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|6|6,&g=s,l,xl,12 */
    --space-3xs: clamp(0.25rem, calc(0.23rem + 0.11vw), 0.31rem);
    --space-2xs: clamp(0.50rem, calc(0.46rem + 0.22vw), 0.63rem);
    --space-xs: clamp(0.75rem, calc(0.68rem + 0.33vw), 0.94rem);
    --space-s: clamp(1.00rem, calc(0.91rem + 0.43vw), 1.25rem);
    --space-m: clamp(1.50rem, calc(1.37rem + 0.65vw), 1.88rem);
    --space-l: clamp(2.00rem, calc(1.83rem + 0.87vw), 2.50rem);
    --space-xl: clamp(3.00rem, calc(2.74rem + 1.30vw), 3.75rem);
    --space-2xl: clamp(4.00rem, calc(3.65rem + 1.74vw), 5.00rem);
    --space-3xl: clamp(6.00rem, calc(5.48rem + 2.61vw), 7.50rem);
    --space-4xl: clamp(6.00rem, calc(5.48rem + 2.61vw), 7.50rem);
    --space-5xl: clamp(6.00rem, calc(5.48rem + 2.61vw), 7.50rem);
    --space-6xl: clamp(6.00rem, calc(5.48rem + 2.61vw), 7.50rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, calc(0.12rem + 0.65vw), 0.63rem);
    --space-2xs-xs: clamp(0.50rem, calc(0.35rem + 0.76vw), 0.94rem);
    --space-xs-s: clamp(0.75rem, calc(0.58rem + 0.87vw), 1.25rem);
    --space-s-m: clamp(1.00rem, calc(0.70rem + 1.52vw), 1.88rem);
    --space-m-l: clamp(1.50rem, calc(1.15rem + 1.74vw), 2.50rem);
    --space-l-xl: clamp(2.00rem, calc(1.39rem + 3.04vw), 3.75rem);
    --space-xl-2xl: clamp(3.00rem, calc(2.30rem + 3.48vw), 5.00rem);
    --space-2xl-3xl: clamp(4.00rem, calc(2.78rem + 6.09vw), 7.50rem);
    --space-3xl-4xl: clamp(6.00rem, calc(5.48rem + 2.61vw), 7.50rem);
    --space-4xl-5xl: clamp(6.00rem, calc(5.48rem + 2.61vw), 7.50rem);
    --space-5xl-6xl: clamp(6.00rem, calc(5.48rem + 2.61vw), 7.50rem);


    /* Branding */
    --brand: hsl(320 100% 50%);
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/fonts/variable/JetBrainsMono[wght].ttf")
      format("truetype");
    font-display: swap;
  }

  /* Reset stuff */
  html {
    --text-1: var(--gray-10);
    --text-2: var(--gray-8);
    --text-3: var(--gray-6);
    --text-4: var(--gray-4);
    --surface-1: var(--gray-0);
    --surface-2: var(--gray-1);
    --surface-3: var(--gray-2);
    --surface-4: var(--gray-3);
    accent-color: var(--brand, var(--link));
    background-color: var(--surface-1);
    caret-color: var(--brand, var(--link));
    color: var(--text-1);
    font-size: var(--step-0);
    color-scheme: light;
  }

  @media (prefers-color-scheme: dark) {
    html {
      --text-1: var(--gray-1);
      --text-2: var(--gray-3);
      --text-3: var(--gray-5);
      --text-4: var(--gray-7);
      --surface-1: var(--gray-12);
      --surface-2: var(--gray-11);
      --surface-3: var(--gray-10);
      --surface-4: var(--gray-9);
      color-scheme: dark;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-1);
    font-variation-settings: 'wght' 900;
  }

  /* TODO: Link styles: :visited, :hover, :active, etc. */

  h1 {
    font-size: var(--step-4);
    line-height: 1;
  }
  h2 {
    font-size: var(--step-3);
    line-height: 1;
  }
  h3 {
    font-size: var(--step-2);
  }
  h4 {
    font-size: var(--step-1);
  }
  h5 {
    font-size: var(--step-1);
  }
  h6 {
    font-size: var(--step-0);
  }

  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  a {
    color: var(--brand, var(--link));
  }

  a:hover {
    text-decoration: overline 4px;
  }

  @media (min-width: 120ch) {
    footer {
      background:  red;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    :where(html) {
      scroll-behavior: smooth;
    }
  }
}

@layer components {
  .banner {
    max-width: 100vw;
    width: calc(100% + (2 * var(--space-s)));
  }
}
