@import url("../../node_modules/open-props/colors.min.css");
@import url("../../node_modules/open-props/colors-hsl.min.css");
@import url("../../node_modules/open-props/gradients.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1240,20,1.333,9,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|6|6,&g=s,l,xl,12 */
    --step--2: clamp(0.69rem, calc(0.66rem + 0.18vw), 0.80rem);
    --step--1: clamp(0.83rem, calc(0.78rem + 0.29vw), 1.00rem);
    --step-0: clamp(1.00rem, calc(0.91rem + 0.43vw), 1.25rem);
    --step-1: clamp(1.20rem, calc(1.07rem + 0.63vw), 1.56rem);
    --step-2: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem);
    --step-3: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
    --step-4: clamp(2.07rem, calc(1.73rem + 1.70vw), 3.05rem);
    --step-5: clamp(2.49rem, calc(2.03rem + 2.31vw), 3.82rem);
    --step-6: clamp(2.99rem, calc(2.37rem + 3.10vw), 4.77rem);
    --step-7: clamp(3.58rem, calc(2.76rem + 4.13vw), 5.96rem);
    --step-8: clamp(4.30rem, calc(3.20rem + 5.48vw), 7.45rem);
    --step-9: clamp(5.16rem, calc(3.72rem + 7.22vw), 9.31rem);
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/fonts/variable/JetBrainsMono[wght].ttf")
      format("truetype");
    font-display: swap;
  }

  /* Reset stuff */
  html,
  [data-theme=light] {
    --brand-fill: hsl(320 100% 40%);
    --brand-stroke: hsl(320 100% 40%);
    --text-1: var(--gray-12);
    --text-2: var(--gray-10);
    --text-3: var(--gray-8);
    --text-4: var(--gray-7);
    --surface-1: var(--gray-0);
    --surface-2: var(--gray-1);
    --surface-3: var(--gray-2);
    --surface-4: var(--gray-3);
    --surface-alpha: hsl(var(--gray-0-hsl) / 65%);
    color-scheme: light;
  }

  [data-theme=dark] {
    --brand-fill: hsl(320 100% 40%);
    --brand-stroke: hsl(320 100% 60%);
    --text-1: var(--gray-1);
    --text-2: var(--gray-3);
    --text-3: var(--gray-5);
    --text-4: var(--gray-6);
    --surface-1: var(--gray-10);
    --surface-2: var(--gray-9);
    --surface-3: var(--gray-8);
    --surface-4: var(--gray-7);
    --surface-alpha: hsl(var(--gray-10-hsl) / 65%);
    color-scheme: dark;
  }

  html {
    accent-color: var(--brand-fill);
    background: var(--surface-1);
  }

  body {
    min-height: 100vh;
  }

  hr {
    border-width: 2px;
  }

  @media (prefers-color-scheme: dark) {
    html {
      --brand-fill: hsl(320 100% 40%);
      --brand-stroke: hsl(320 100% 60%);
      --text-1: var(--gray-1);
      --text-2: var(--gray-3);
      --text-3: var(--gray-5);
      --text-4: var(--gray-6);
      --surface-1: var(--gray-10);
      --surface-2: var(--gray-9);
      --surface-3: var(--gray-8);
      --surface-4: var(--gray-7);
      --surface-alpha: hsl(var(--gray-10-hsl) / 65%);
      color-scheme: dark;
    }
  }

  h1,
  h2,
  h3 {
    color: var(--text-1);
    font-variation-settings: 'wght' 900;
  }

  /* TODO: Link styles: :visited, :hover, :active, etc. */

  h1 {
    font-size: var(--step-5);
    line-height: 1;
  }
  h2 {
    font-size: var(--step-3);
    line-height: 1;
  }
  h3 {
    font-size: var(--step-2);
  }

  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  ::selection {
    background: var(--brand-fill);
    color: var(--gray-0);
  }

  code:not([class]) {
    background: var(--surface-3);
  }

  code[class] {
    font-size: var(--step--1);
  }

  pre {
    font-size: var(--step--2);
  }

  *:focus-visible {
    outline-color: var(--brand-stroke);
  }

  a {
    color: var(--brand-stroke);
    text-decoration-thickness: 4px;
    text-underline-offset: 2px;
    font-weight: bold;
    font-variation-settings: 'wght' 700;
  }

  a:hover {
    text-decoration-line: underline;
  }

  @media (prefers-reduced-motion: no-preference) {
    :where(html) {
      scroll-behavior: smooth;
    }
  }
}

@layer components {
  .banner {
    width: calc(100% + (4 * var(--step-1)));
  }

  .bleed {
    width: calc(100% + (2 * var(--step-1)));
  }

  .google {
    background: linear-gradient(90deg, #ea4335 0 25%, #4285f4 25% 50%, #34a853 50% 75%, #fbbc05 75% 100%);
  }
}

@layer utilities {
  .bold {
    font-variation-settings: 'wght' 700;
  }
  .transform-box-fill {
    transform-box: fill-box;
  }
}
