---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import LayoutHeader from "../components/header/header.jsx";
---

<Layout
  title="Jhey Tompkins"
  ogtitle="The home of Jhey Tompkins"
  oggradient="8"
>
  <main>
    <h1>Hello World! 👋</h1>
    <LayoutHeader>The feed of Jhey Tompkins</LayoutHeader>
    <pre>
      <code>console.info('hello world');</code>
    </pre>
  </main>
</Layout>
