---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card/card.jsx";
import LayoutHeader from "../components/header/header.jsx";

const { SANITY_PROJECT_ID, SANITY_PROJECT_DATASET } = import.meta.env

// Grab all posts and expand author objects
const QUERY = encodeURIComponent('*[_type == "post"]{..., author->{"avatar": image.asset->url, ...}}');

// Compose the URL for your project's endpoint and add the query
const URL = `https://${SANITY_PROJECT_ID}.api.sanity.io/v2021-10-21/data/query/${SANITY_PROJECT_DATASET}?query=${QUERY}`;

const POSTS = await (await fetch(URL)).json()

---

<Layout
  title="Jhey Tompkins"
  ogtitle="The home of Jhey Tompkins"
  oggradient="8"
>
  <LayoutHeader />
  <main class="w-main-content max-w-full mv-0 mx-auto grid justify-center pt-8">
    <p class="border-2 border-current text-center text-text-2 p-4 grid items-center rounded-md">No posts to show currently.</p>
  </main>
</Layout>
