---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import LayoutHeader from "../components/header/header.jsx";
---

<Layout
  title="Jhey Tompkins"
  ogtitle="The home of Jhey Tompkins"
  oggradient="8"
>
  <LayoutHeader>The feed of Jhey Tompkins</LayoutHeader>
  <main class="max-w-[65ch] mv-0 mx-auto">
    <pre>
      <code>console.info('hello world');</code>
    </pre>
  </main>
  <footer>Jhey Tompkins &copy; 2022</footer>
</Layout>
