---
import Layout from "../../layouts/Layout.astro";
import ContentBlock from "../../components/content-block/content-block.jsx"
import Links from './_links.md?raw'

---
<Layout
  title="Links!"
  ogtitle="Jhey's Links"
  description="A list of various links to things Jhey Tompkins related"
  oggradient="4"
>
  <header class="w-feature max-w-full mx-auto">
    <div class="w-full aspect-[3/1] bg-surface-4">
      <img width="750" height="250" class="w-full h-full" src="/media/image/desk-lean.jpg" alt="" />
    </div>
  </header>
  <main class="w-content max-w-full mv-0 mx-auto flex flex-col justify-center pt-8 gap-4 px-4">
    <ContentBlock type="links" children={Links}></ContentBlock>
  </main>
</Layout>