---
import './_textpath.css';
---
<html lang="en-us">
  <head>
    <title>Circular text with textpath</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
    <meta name="theme-color" content="#CC0088" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" href="/icons/favicon-32x32.png" type="image/png" sizes="16x16"/>
    <link rel="shortcut icon" href="/icons/favicon-32x32.png" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <meta name="generator" content="{Astro.generator}" />
  </head>
  <body>
    <section>
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <path id="circlePath" fill="none" stroke-width="4" stroke="hsl(0 100% 50% / 0.5)" d="
          M 10, 50
          a 40,40 0 1,1 80,0
          a 40,40 0 1,1 -80,0
        " />
        <text id="text" font-family="monospace" font-size="12" font-weight="bold" fill="var(--text-1)">
          <textPath id="textPath" href="#circlePath"></textPath>
        </text>
      </svg>
    </section>
  </body>
</html>
<script>
  import "./_script.js"
</script>