---
import { clsx } from 'clsx'
---
<header class={clsx(
  'text-balance',
  '[&_p:first-of-type]:leading-none [&_p:first-of-type]:font-[600] [&_p:first-of-type]:letter-spacing-[-0.5px',
  '[&_p:first-of-type]:font-serif [&_p:first-of-type]:[--font-level:3.8] [--font-size-min:20] [&_p:first-of-type]:mb-2 mb-6',
)}>
  <p class="text-fluid">Making your ideas click</p>
  <h1 class="font-mono font-[600] text-sm uppercase">Jhey Tompkins — Staff Design Engineer @ <span class="blur-xs">TBA <span aria-hidden="true">Start 14/07</span></span></h1>
</header>