---
const { platform, data } = Astro.props
---

{
  platform === 'weather' && (
    <img src={data.weather?.weather?.condition?.icon} alt="Weather icon" />
  )
}
{
  platform === 'demo' && (
    <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <title>CodePen</title>
      <path fill="currentColor" d="M12 4.58c.12 0 .25.04.35.1l6.78 4.53h.01l.03.03.04.03.03.02.08.1.01.03.03.04v.03l.03.05v.03l.02.06v4.74l-.01.05-.01.03-.02.05-.01.03-.03.04-.01.03a.57.57 0 0 1-.08.1l-.03.03-.04.03-.03.02-6.79 4.53a.64.64 0 0 1-.7 0L4.85 14.8v-.01a.6.6 0 0 1-.07-.05l-.03-.03-.03-.03-.02-.03a.59.59 0 0 1-.07-.11l-.01-.03a.64.64 0 0 1-.02-.05l-.01-.03-.01-.05v-.03l-.01-.08V9.63l.02-.06.01-.03a.57.57 0 0 1 .12-.21l.03-.04.03-.02a.62.62 0 0 1 .06-.06h.01l6.78-4.52c.1-.07.23-.11.36-.11Zm.64 10.03v2.98l5-3.33-2.24-1.5-2.76 1.85Zm-6.28-.35 5 3.33V14.6L8.6 12.76l-2.24 1.5ZM9.74 12 12 13.5l2.25-1.5L12 10.49l-2.26 1.5Zm-3.89 1.06L7.45 12l-1.6-1.07v2.13ZM16.55 12l1.6 1.06v-2.13L16.54 12Zm-3.91-2.62 2.76 1.85 2.23-1.5-5-3.32v2.97Zm-6.28.36 2.24 1.49 2.76-1.85V6.41l-5 3.33Z"/>
    </svg>
  )
}
{
  platform === 'spotify' && (
    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <title>Spotify</title>
      <path fill="currentColor" d="M5.58 15c4.56-1.02 8.52-.6 11.64 1.32.42.18.48.66.3 1.02-.24.36-.66.48-1.02.24-2.82-1.74-6.36-2.1-10.56-1.14-.42.12-.78-.18-.9-.54-.12-.42.18-.78.54-.9ZM5.22 11.22c4.38-1.32 9.78-.66 13.5 1.62.36.18.54.78.24 1.2-.3.42-.84.6-1.26.3a15.55 15.55 0 0 0-11.94-1.38c-.48.12-1.02-.12-1.14-.6-.12-.48.12-1.02.6-1.14ZM4.5 7.2c4.26-1.26 11.28-1.02 15.72 1.62.54.3.72 1.02.42 1.56-.3.42-1.02.6-1.56.3C15.24 8.4 8.82 8.16 5.16 9.3c-.6.18-1.2-.18-1.38-.72-.18-.6.18-1.2.72-1.38Z"/>
    </svg>
  )
}
{
  platform === 'steam' && (
    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <title>Steam</title>
      <path fill="currentColor" d="M14.44 23.75ZM15.95 6.63a2.27 2.27 0 1 1 0 4.54 2.27 2.27 0 0 1 0-4.54Z"/>
      <path fill="currentColor" fill-rule="evenodd" d="M15.94 4.38a4.53 4.53 0 0 1 0 9.06h-.1l-4.08 2.9v.16a3.4 3.4 0 0 1-6.72.67l-4.58-1.9a12 12 0 0 1-.42-4.23l6.42 2.65c.54-.37 1.2-.59 1.9-.59h.2l2.86-4.13V8.9c0-2.5 2.02-4.53 4.52-4.53Zm-6.6 9.76a2.55 2.55 0 0 0-1.88-.03l1.53.63a1.88 1.88 0 0 1-1.45 3.47l-1.47-.61a2.55 2.55 0 1 0 3.27-3.46Zm6.6-8.25a3.02 3.02 0 1 0 0 6.03 3.02 3.02 0 0 0 0-6.03Z" clip-rule="evenodd"/>
    </svg>
  )
}
{platform === 'status' && <span>🇭🇷</span>}
