---
// import { gsap } from "gsap";
// import { ScrambleTextPlugin } from "gsap/ScrambleTextPlugin";

// gsap.registerPlugin(ScrambleTextPlugin);
// console.info({ gsap })
---
<section>
  <ul>
    <li data-platform="steam">
      
    </li>
    <li data-platform="spotify">
      <marquee></marquee>
    </li>
  </ul>
</section>
<script src="./script.js"></script>
<script type="module">
  // import { gsap } from "gsap";
  // console.info({ gsap })
  // import * as gsap from "/node_modules/gsap/dist/gsap.js";
  // import { ScrambleTextPlugin } from "gsap/ScrambleTextPlugin";

  // gsap.registerPlugin(ScrambleTextPlugin);

  // console.info('what', gsap)
  // const response = await fetch('/api/status')
  // if (!response.ok) {
  //   throw new Error(`HTTP error! status: ${response.status}`)
  // }
  
  // const dataLoaded = await response.json()
  // console.info({ dataLoaded })

  // const steamStatus = document.querySelector('[data-platform="steam"]')
  // if (steamStatus) {
  //   steamStatus.innerHTML = `
  //     <span>${dataLoaded.steam.last_game.name}</span>
  //   `
  // }
</script>