---
// export const prerender = false;
const baseUrl = import.meta.env.SITE || 'http://localhost:4321'; // fallback for dev
const response = await fetch(`${baseUrl}/api/status`);
const data = await response.json();
console.info({ ssr: data });
// import { gsap } from "gsap";
// import { ScrambleTextPlugin } from "gsap/ScrambleTextPlugin";

// gsap.registerPlugin(ScrambleTextPlugin);
// console.info({ gsap })
---
<section>
  <ul>
    <li data-platform="steam">
      {data.steam.last_game.name}
    </li>
    <li data-platform="spotify">
      {data.spotify.track.name}
    </li>
  </ul>
</section>
<script src="./script.js"></script>