---
// export const prerender = false;
import { getStatusData } from '../utils/getStatusData';
const data = await getStatusData();
// import { gsap } from "gsap";
// import { ScrambleTextPlugin } from "gsap/ScrambleTextPlugin";

// gsap.registerPlugin(ScrambleTextPlugin);
// console.info({ gsap })
---
<section>
  <ul>
    <li data-platform="steam">
      {data.steam?.last_game ? data.steam.last_game.name : 'No recent game'}
    </li>
    <li data-platform="spotify">
      {data.spotify?.track ? data.spotify.track.name : 'No recent track'}
    </li>
  </ul>
</section>
<script src="./script.js"></script>