---
export const prerender = true;
import { getStatusData } from '../utils/getStatusData'
const data = await getStatusData()

const scrambleChars = 'abcdefghijklmnopqrstuvwxyz'
const scramble = (chars: string, len: number) =>
  Array.from(
    { length: len },
    () => chars[Math.floor(Math.random() * chars.length)],
  ).join('')

const statuses = [
  {
    status: data.demo ? data.demo.title : 'No recent demo',
    platform: 'demo',
  },
  {
    status: data.steam?.last_game
      ? data.steam.last_game.name
      : 'No recent game',
    platform: 'steam',
  },
  {
    status: data.spotify?.track ? data.spotify.track.name : 'No recent track',
    platform: 'spotify',
  },
]
---

<section>
  <ul
    class="font-mono text-sm uppercase w-[30ch] [&_li]:whitespace-nowrap text-left overflow-hidden"
  >
    {
      statuses.map((status) => (
        <li data-status={status.status} data-chars={scrambleChars}>
          {scramble(scrambleChars, Math.min(status.status.length, 30))}
        </li>
      ))
    }
  </ul>
</section>
<script src="./script.js"></script>
